.App {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 400px;
}

h2 {
  margin-top: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

input[type='text'],
input[type='password'] {
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  margin-top: 16px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #005b8a;
}

.forgot-password {
  margin-top: 16px;
  text-align: center;
}

a {
  color: #0077c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.appcards_input {
  background-color: #fff;
}

.appcards_container {
  height: 400px;
  overflow-y: scroll;
  margin-top: 20px;
  padding:10px;
  background: #eee;
  border-radius: 5px;
}

.appcard_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 1rem;
  border: 1px solid #eee;
  box-shadow: 0px 0px 2px 0px #aaa;
  border-radius: 5px;
  background: #fff;
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-bottom:10px;
  align-self:center;
  transition: box-shadow 0.1s ease-out;
}
.appcard_card:hover {
  box-shadow: 0px 0px 8px 1px #ccc;
}
.appcard_logo {
  width: 15%;
}

.appcard_content {
  flex: 1;
  margin-left: 1rem;
}

.title {
  font-size: 1rem;
  margin: 0;
}

.description {
  font-size: 0.8rem;
  margin: 0;

}

.landingpage_title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.landingpage_description {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}
