import IIMCLogo from "./assets/iimc_logo.png";
// import more icons similarly for different apps

export const applications = [
  // {jokaBackend runs on 3000}
  // {JokaLife runs on 4000}
  // {Password Reset runs on 4001}
  // {Timetable runs on 4002}
  // {Joka Directory runs on 4003}
  {
    title: "Joka Directory",
    description: "Sample description",
    redirectUrl: "http://localhost:4003/",
    icon: IIMCLogo,
    requiresJokaAuth: true,
  },
  {
    title: "Timetable",
    description: "Sample description",
    redirectUrl: "http://localhost:4002/",
    icon: IIMCLogo,
    requiresJokaAuth: true,
  },
  {
    title: "Bulletin Board",
    description: "Sample description",
    redirectUrl: "http://student.iimcal.ac.in/bb/",
    icon: IIMCLogo,
    requiresJokaAuth: false,
  },
  {
    title: "Course Web",
    description: "Sample description",
    redirectUrl: "https://courseweb.iimcal.ac.in/login/index.php",
    icon: IIMCLogo,
    requiresJokaAuth: false,
  },
  {
    title: "Academic Mangement System",
    description: "Check your grades, attendance and more",
    redirectUrl: "http://student.iimcal.ac.in/iimc/system/login.jsp",
    icon: IIMCLogo,
    requiresJokaAuth: false,
  },
  {
    title: "Library",
    description: "Sample description",
    redirectUrl: "https://library.iimcal.ac.in/",
    icon: IIMCLogo,
    requiresJokaAuth: false,
  },
  {
    title: "IIM Calcutta",
    description: "Sample description of what happens here",
    redirectUrl: "https://www.iimcal.ac.in/",
    icon: IIMCLogo,
    requiresJokaAuth: false,
  },
];

export const apis = {
  login: "/api/auth/login",
  forgotPassword: "/passwordResetApp#/",
  verifyAccessToken: "/api/auth/verifyAccessToken",
};
const config = {
  applications,
  apis,
};
export default config;
