import IIMCLogo from "./assets/iimc_logo.png";
import bbBg from "./assets/card-bg-bb.png";
import cwBg from "./assets/card-bg-cw.jpg";
import jdBg from "./assets/card-bg-jd.png";
import amsBg from "./assets/card-bg-ams.png";
import ypBg from "./assets/button-bg-yp.png";
import ttBg from "./assets/button-bg-tt.png";
import libBg from "./assets/button-bg-lib.png";
import crBg from "./assets/button-bg-cr.png";
// import more icons similarly for different apps
export const applications = {
  cards: [
    {
      title: "Bulletin Board",
      redirectUrl: "http://student.iimcal.ac.in/bb",
      bg: bbBg,
      fontColor: "white",
      requiresJokaAuth: false,
    },
    {
      title: "Course Web",
      redirectUrl: "https://courseweb.iimcal.ac.in/login/index.php",
      bg: cwBg,
      fontColor: "black",
      requiresJokaAuth: false,
    },
    {
      title: "Joka Directory",
      redirectUrl: "", // enter a blank string in redirectUrl to disable the tile and add a "coming soon" to the tile.
      bg: jdBg,
      fontColor: "white",
      requiresJokaAuth: true,
    },
    {
      title: "Academic Mangement System",
      redirectUrl: "http://student.iimcal.ac.in/iimc/system/login.jsp",
      bg: amsBg,
      fontColor: "white",
      requiresJokaAuth: false,
    },
  ],
  utils: [
    {
      title: "IIMC Yellow Pages",
      redirectUrl:
        "https://docs.google.com/spreadsheets/d/1JB_8PVjOccaWssHDU7NWdKkmxFrG-G4deB2Ep76nSfA/",
      bg: ypBg,
      fontColor: "white",
      requiresJokaAuth: false,
    },
    {
      title: "Joka Utils",
      redirectUrl: "https://vrajeshiyengar.github.io/joka-utils/",
      bg: ttBg,
      fontColor: "white",
      requiresJokaAuth: false,
    },
    {
      title: "Library",
      redirectUrl: "https://library.iimcal.ac.in/",
      bg: libBg,
      fontColor: "white",
      requiresJokaAuth: false,
    },
    {
      title: "Course Registration",
      redirectUrl: "https://iimcal.coursebidding.com/",
      bg: crBg,
      fontColor: "white",
      requiresJokaAuth: false,
    },
  ],
  clubs: [
    {
      title: "PMTech Club",
      redirectUrl: "https://www.linkedin.com/company/pmtechiimc",
      bg: IIMCLogo,
      fontColor: "black",
      requiresJokaAuth: false,
    },
  ],
  other: [
    {
      title: "IIM Calcutta",
      redirectUrl: "https://www.iimcal.ac.in/",
      bg: IIMCLogo,
      fontColor: "black",
      requiresJokaAuth: false,
    },
  ],
};

export const apis = {
  login: "/api/auth/login",
  forgotPassword: "/passwordResetApp#/",
  verifyAccessToken: "/api/auth/verifyAccessToken",
};
const config = {
  applications,
  apis,
};
export default config;
